<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About</h2>
                <p class="lead">This is the About Page!
                </p>
                <ul>
                  <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid explicabo natus perferendis? Corporis fuga assumenda aperiam ab consequuntur vitae doloremque aliquam placeat distinctio molestiae in, optio molestias debitis non quam.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, similique at eaque ipsam nam, temporibus sapiente omnis quod aut qui vel iure. Aspernatur ex deserunt corporis sunt ipsum neque sint.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda provident vel qui asperiores, explicabo earum accusamus veritatis ad doloremque velit sunt at quos ratione rerum tenetur et ex temporibus veniam!</li>
                    
                </ul>
            </div>
        </div>
    </div>
  </section>